.root {
  display: flex;
  flex-direction: column;
  padding: 64px 16px 32px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  background: linear-gradient(125deg, #fff4cd, #ffe380);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  overflow: scroll;
  z-index: 9;
}

