* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Muller;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerUltraLight.eot');
  src: local('./Muller/Muller UltraLight'), local('./Muller/MullerUltraLight'),
  url('./Muller/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerUltraLight.woff2') format('woff2'),
  url('./Muller/MullerUltraLight.woff') format('woff'),
  url('./Muller/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerBoldItalic.eot');
  src: local('./Muller/Muller Bold Italic'), local('./Muller/MullerBoldItalic'),
  url('./Muller/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerBoldItalic.woff2') format('woff2'),
  url('./Muller/MullerBoldItalic.woff') format('woff'),
  url('./Muller/MullerBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerMedium.eot');
  src: local('./Muller/Muller Medium'), local('./Muller/MullerMedium'),
  url('./Muller/MullerMedium.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerMedium.woff2') format('woff2'),
  url('./Muller/MullerMedium.woff') format('woff'),
  url('./Muller/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerExtraBoldItalic.eot');
  src: local('./Muller/Muller ExtraBold Italic'), local('./Muller/MullerExtraBoldItalic'),
  url('./Muller/MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerExtraBoldItalic.woff2') format('woff2'),
  url('./Muller/MullerExtraBoldItalic.woff') format('woff'),
  url('./Muller/MullerExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerUltraLightItalic.eot');
  src: local('./Muller/Muller UltraLight Italic'), local('./Muller/MullerUltraLightItalic'),
  url('./Muller/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerUltraLightItalic.woff2') format('woff2'),
  url('./Muller/MullerUltraLightItalic.woff') format('woff'),
  url('./Muller/MullerUltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerRegular.eot');
  src: local('./Muller/Muller Regular'), local('./Muller/MullerRegular'),
  url('./Muller/MullerRegular.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerRegular.woff2') format('woff2'),
  url('./Muller/MullerRegular.woff') format('woff'),
  url('./Muller/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerBlackItalic.eot');
  src: local('./Muller/Muller Black Italic'), local('./Muller/MullerBlackItalic'),
  url('./Muller/MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerBlackItalic.woff2') format('woff2'),
  url('./Muller/MullerBlackItalic.woff') format('woff'),
  url('./Muller/MullerBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('./Muller/MullerHairlineItalic.eot');
  src: local('./Muller/Muller Hairline Italic'), local('./Muller/MullerHairlineItalic'),
  url('./Muller/MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerHairlineItalic.woff2') format('woff2'),
  url('./Muller/MullerHairlineItalic.woff') format('woff'),
  url('./Muller/MullerHairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerHeavyItalic.eot');
  src: local('./Muller/Muller Heavy Italic'), local('./Muller/MullerHeavyItalic'),
  url('./Muller/MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerHeavyItalic.woff2') format('woff2'),
  url('./Muller/MullerHeavyItalic.woff') format('woff'),
  url('./Muller/MullerHeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerThinItalic.eot');
  src: local('./Muller/Muller Thin Italic'), local('./Muller/MullerThinItalic'),
  url('./Muller/MullerThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerThinItalic.woff2') format('woff2'),
  url('./Muller/MullerThinItalic.woff') format('woff'),
  url('./Muller/MullerThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('./Muller/MullerHairline.eot');
  src: local('./Muller/Muller Hairline'), local('./Muller/MullerHairline'),
  url('./Muller/MullerHairline.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerHairline.woff2') format('woff2'),
  url('./Muller/MullerHairline.woff') format('woff'),
  url('./Muller/MullerHairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerHeavy.eot');
  src: local('./Muller/Muller Heavy'), local('./Muller/MullerHeavy'),
  url('./Muller/MullerHeavy.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerHeavy.woff2') format('woff2'),
  url('./Muller/MullerHeavy.woff') format('woff'),
  url('./Muller/MullerHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerThin.eot');
  src: local('./Muller/Muller Thin'), local('./Muller/MullerThin'),
  url('./Muller/MullerThin.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerThin.woff2') format('woff2'),
  url('./Muller/MullerThin.woff') format('woff'),
  url('./Muller/MullerThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerLightItalic.eot');
  src: local('./Muller/Muller Light Italic'), local('./Muller/MullerLightItalic'),
  url('./Muller/MullerLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerLightItalic.woff2') format('woff2'),
  url('./Muller/MullerLightItalic.woff') format('woff'),
  url('./Muller/MullerLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerLight.eot');
  src: local('./Muller/Muller Light'), local('./Muller/MullerLight'),
  url('./Muller/MullerLight.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerLight.woff2') format('woff2'),
  url('./Muller/MullerLight.woff') format('woff'),
  url('./Muller/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerBlack.eot');
  src: local('./Muller/Muller Black'), local('./Muller/MullerBlack'),
  url('./Muller/MullerBlack.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerBlack.woff2') format('woff2'),
  url('./Muller/MullerBlack.woff') format('woff'),
  url('./Muller/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerBold.eot');
  src: local('./Muller/Muller Bold'), local('./Muller/MullerBold'),
  url('./Muller/MullerBold.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerBold.woff2') format('woff2'),
  url('./Muller/MullerBold.woff') format('woff'),
  url('./Muller/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerExtraBold.eot');
  src: local('./Muller/Muller ExtraBold'), local('./Muller/MullerExtraBold'),
  url('./Muller/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerExtraBold.woff2') format('woff2'),
  url('./Muller/MullerExtraBold.woff') format('woff'),
  url('./Muller/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url('./Muller/MullerRegularItalic.eot');
  src: local('./Muller/Muller Regular Italic'), local('./Muller/MullerRegularItalic'),
  url('./Muller/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerRegularItalic.woff2') format('woff2'),
  url('./Muller/MullerRegularItalic.woff') format('woff'),
  url('./Muller/MullerRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('./Muller/MullerMediumItalic.eot');
  src: local('./Muller/Muller Medium Italic'), local('./Muller/MullerMediumItalic'),
  url('./Muller/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./Muller/MullerMediumItalic.woff2') format('woff2'),
  url('./Muller/MullerMediumItalic.woff') format('woff'),
  url('./Muller/MullerMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

